/* .statistics .show-thresholds{
    margin-top: 2vh;
} */

.statistics h2 {
	text-align: center;
	margin-bottom: 3vh;
	margin-top: 3vh;
}

.show-information p {
	text-align: center;
}

.chart {
	display: flex;
	justify-content: center;
}

.item-chart {
	margin-left: 5vw;
	margin-right: 5vw;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 5vh;
}

.title-chart {
	text-align: center;
	/* padding-bottom: 2vh; */
	padding-top: 2vh;
}