.wrapper {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-login {
    height: 3rem;
    width: 3rem;
    margin-left: 2vw;

}
.name{
    font-size: 1.5rem;
    margin-left: 1vw;
    padding-top: 8px;
}
.login-bar {
    background: #F5F7FA; 
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 32vw; 
    margin: auto;
    flex-direction: column;
   
}

.login-bar h2 {
    color: #0F9F3F;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-bar form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    padding: 20px;
}

.login-bar input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 25vw; 
}

.login-bar .forgot-password {
    color: #0F9F3F;
    font-size: 0.6rem;
    text-align: left;
    margin-top: -15px;
    margin-bottom: 20px;
}

.login-bar button {
    background-color: #0F9F3F; 
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.login-bar button:hover {
    background-color: #237c27; 
}
