.pump-and-history-container {
    display: flex;
    gap: 4vw;
    padding: 20px;
    max-width: 1200px;
    margin: 30px auto;
  }
  
.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
}

.pump-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.status-on {
  color: #28a745;
  margin: 10px 0;
}

.status-off {
  color: #888;
  margin: 10px 0;
}

.pump-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100px; 
}

.on-pump {
  background-color: #28a745;
  color: #fff;
}

.off-pump {
  background-color: #ff4d4f;
  color: #fff;
}
.off-pump:hover {
  background-color: #e44144;
  color: #fff;
}

.schedule-button {
  background-color: #1890ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 12vw; 
}

.schedule-button a {
  color: #fff;
  text-decoration: none;
  display: block; 
}

 
  .right-side {
    width: 48vw;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .history-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .filter-history {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
  }
  
  .history-table {
    width: 100%;
  }
  
 
  @media (max-width: 768px) {
    .pump-and-history-container {
      flex-direction: column;
    }
  
    .right-side {
      width: 100%;
    }
  
    .pump-image {
      max-width: 120px;
    }
  }

  button:focus, button:focus-visible {
    outline: none;
    box-shadow: none;
}