
.lastname-box {
    margin-left: 20px;
}
.firstname-box {
    margin-left: 80px;
}

.email-box {
    margin-left: 20px;
    margin-top: 20px;
}

.username-box {
    margin-left: 20px;
    margin-top: 20px;
}
