.menu-bar .ant-menu-item{
    padding-top: 30px;
    padding-bottom: 30px;
    /* font-size: 22px; */
    justify-items: center;
    align-items: center;
    display: flex;
}

.anticon{
    align-items: center;
    /* font-size: large; */
}

.menu-bar.collapsed .ant-menu-item-icon {
    /* font-size: 28px; */
  }